.page-header
  %h1= t('titles.index_subdivision')

= link_to 'Новый отдел', new_subdivision_path
%p

%ul.list-unstyled
  - @subdivisions.where(subdivision_id: nil).each do |subdivision|
    =render'subdivision', :subdivision => subdivision
%br

= link_to 'Новый отдел', new_subdivision_path
