-if obj.errors.any?
  .panel.panel-danger
    .panel-heading
      При сохранении произошли следубщие ошибки:
    .panel-body
      %ol
        -obj.errors.full_messages.each do |msg|
          %li=msg