!!!5
%html
  %head
    %meta{charset: 'utf-8'}
    %title Astat
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    /[if IE]
      =stylesheet_link_tag 'jquery.ui.1.10.3.ie'
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    .navbar.navbar-inverse
      .navbar-inner
        .container
          =link_to "Список клиентов",subdivisions_path, class: 'navbar-brand'
    .container
      =notice_messages
      =yield
